
/* Sets style for page*/
:root{
    background-color: #e8ebee;
    color:#f5272e;
    text-align: center ;
    font-size: 30px;
    list-style-type: none;
}
header {
  height: 200px;
}

/* Style for h1 and correct answers*/
h1, .success {
    font-size: 50px;
    margin-bottom: 5px;
    color:#080227;
}

/* Style for button */
button, .btn{
    font-size: 30px;
    font-weight: bolder;
    height: 75px;
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    border: 8px solid black;
    text-align: center;
    background-color: #5a5c5f; 
    text-decoration: none;
    padding:10px;
   
    transition: all 0.5s 
     ease-in-out;
    } 
button:hover, .btn:hover{transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 12px 
    #f5272e, 
    0 0 25px 
    #f5272e;
    } 
/* Style for Questions*/
.askIt {
  font-weight: bold;
  align-items: center;
  width: 50%;
  overflow-wrap: break-word;
  height: 200px;
  margin: 30px auto;
  background-color: #4f5358;
  font-size: 50px;
  padding: 10px;
  border: 2px dashed black;
}  
/* Wrong answer styles */
.fail {
  font-size: 50px;
    margin-bottom: 5px;
    color:#f5272e;
}  
#highScores, .timerCount{
  font-size: 50px;
}
@media screen and (max-width: 992px) {
  button, .btn {
    font-size: 30px;
    width: 50%;
    height: 75px;
  }
  .askIt {
    font-size: 50px;
    width: 75%;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {

  button, .btn {
    font-size: 50px;
    width: 50%;
    height: 50px;
  }
  .askIt {
    font-size: 50px;
    width: 90%;
    height:5000px;
  }
}